.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
}