* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: azure;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.cells {
    background-color: aqua;
    width: 10px;
    height: 10px;
}