* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.cells {
    background-color: aqua;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}